<div class='container'>
<div class='row'>
<div class='col-3'>
	<%= link_to "社員一覧",user_index_path %>
	<%= link_to "予定投稿",new_schedule_path %>
	<%= link_to '投稿予定一覧', schedules_path %>
	<%= link_to '予定一覧', user_schedule_path(@end_user.id) %>
</div>
<div class="col-8">
<% if @end_user == current_end_user %>
	<h1>マイページ</h1>
<% else %>
  <h1>社員情報</h1>
<% end %>
	<section class="inner">
		<table class="end_user_info">
			<thead>
				<th></th>
				<th></th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<td><%= image_tag @end_user.get_profile_image, size: '50x50' %></td>
				</tr>
				<tr>
					<td>名前</td>
					<td>(姓) <%= @end_user.first_name %></td>
					<td>(名) <%= @end_user.last_name %></td>
				</tr>
				<tr>
					<td>フリガナ</td>
					<td>(セイ) <%= @end_user.first_name_kana %></td>
					<td>(メイ) <%= @end_user.last_name_kana %></td>
				</tr>
				<tr>
					<td>メールアドレス</td>
					<td colspan="2"><%= @end_user.email %></td>
				</tr>
				<tr>
					<td>部署名</td>
					<td colspan="2"><%= @end_user.department_name %></td>
				</tr>
				<tr>
					<td>勤務地</td>
					<td colspan="2"><%= @end_user.work_location %></td>
				</tr>
				<tr>
					<td>勤務状況</td>
					<% if @end_user.is_worked == true %>
						<td colspan="2">出勤中</td>
					<% else %>
						<td colspan="2">退勤中</td>
					<% end %>
					<% if @end_user == current_end_user %>
						<td><%= link_to "変更", update_worked_path, method: :patch %></td>
					<% end %>
				</tr>
				<tr>
					<td>電話番号</td>
					<td colspan="2"><%= @end_user.telephone_number %></td>
				</tr>
				<tr>
					<% if @end_user == current_end_user %>
						<td>
							<%= link_to "編集する",edit_information_path(current_end_user.id) %>
						</td>
					<% end %>
				</tr>
			</tbody>
		</table>
	</section>
</div>
</div>
</div>
